.img-fluid{
    width: 50%;
    float: left;
    margin-right: 20px;
  }
  p{
    padding: 133px 50px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #edf1fe;
    color: #31437b;
  }
  .temp{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #31437b;
    text-align: center;
  }
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  
  .video-container iframe {
    position: absolute;
    padding: 20px 150px;
    width: 100%;
    height: 85%;
  }