<footer >
<div class="footer">
    <table class="table table-borderless" >
      <tbody>
        <tr>
          <th scope="col" style="color: #ec9d44;width: 20;">Quick links</th>
          <th scope="col" style="color: #ec9d44;width: 20%;">Industries</th>
          <th scope="col" ><a routerLink="services" style="text-decoration: none;color: #ec9d44;">Services</a></th>
          <th scope="col" ></th>
        </tr>
        <tr>
          <td>Home</td> 
          <td><a routerLink="mobility" style="text-decoration: none;color: #edf1fe;">Mobility</a></td>
          <td>Cloud Services</td>
          <th ></th>
        </tr>
        <tr>
          <td>About Us</td>
          <td><a routerLink="aerospace" style="text-decoration: none;color: #edf1fe;">Aerospace & Defence</a></td>
          <td>Cyber Security</td>
          <th ></th>
        </tr>
        <tr>
          <td>Insights</td>
          <td><a routerLink="industrial" style="text-decoration: none;color: #edf1fe;">Industrial</a></td>
          <td>Data Engineering</td>
          <th ></th>
          
        </tr>
        <tr>
          <td>Careers</td>
          <td><a routerLink="banking" style="text-decoration: none;color: #edf1fe;">Banking & Financial services</a></td>
          <td>DevOps</td>
          <td>
            <div class="button">
              <a class="btn btn-outline-warning" routerLink="contact" role="button">Contact Us</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>Contact Us</td>
          <td><a routerLink="insurance" style="text-decoration: none;color: #edf1fe;">Insurance</a></td>
          <td>GIS</td>
          <th ></th>
        </tr>
        <tr>
          <td>Blogs</td>
          <td><a routerLink="healthcare" style="text-decoration: none;color: #edf1fe;">Healthcare</a></td>
          <th ></th>
          <th ></th>
        </tr>
        <tr>
          <td>Whitepapers</td>
          <td><a routerLink="locomotive" style="text-decoration: none;color: #edf1fe;">Locomotive</a></td>
          <th scope="col" ></th>
          <th scope="col" ></th>
        </tr>
        <tr>
          <td>Webinar</td>
          <td><a routerLink="industrial" style="text-decoration: none;color: #edf1fe;">Industrial</a></td>
          <th ></th>
          <th ></th>
        </tr>
        <tr>
          <td>Podcast</td>
          <td ></td>
          <td ></td>
          <td>
            +91-484-4203333
          </td>
        </tr>
        <tr>
          <td></td> 
          <th ></th>
          <th ></th>
          <th ></th>
        </tr>
      </tbody>

    </table>
    
  </div>
</footer>