<footer style="background-color: #223670;">
<div class="footer">
    <table class="table table-borderless" >
      <tbody>
        <tr>
          <th scope="col" style="background-color: #223670;color: #ec9d44;width: 20;">Quick links</th>
          <th scope="col" style="background-color: #223670;color: #ec9d44;width: 20%;">Industries</th>
          <th scope="col" style="background-color: #223670;"><a routerLink="services" style="text-decoration: none;color: #ec9d44;">Services</a></th>
        </tr>
        <tr>
          <td style="background-color: #223670; color: #edf1fe;">Home</td> 
          <td style="background-color: #223670;color: #edf1fe;"><a routerLink="mobility" style="text-decoration: none;color: #edf1fe;">Mobility</a></td>
          <td style="background-color: #223670; color: #edf1fe;">Cloud Services</td>
        </tr>
        <tr>
          <td style="background-color: #223670;color: #edf1fe;">About Us</td>
          <td style="background-color: #223670;color: #edf1fe;"><a routerLink="aerospace" style="text-decoration: none;color: #edf1fe;">Aerospace & Defence</a></td>
          <td style="background-color: #223670;color: #edf1fe;">Cyber Security</td>
        </tr>
        <tr>
          <td style="background-color: #223670;color: #edf1fe;">Insights</td>
          <td style="background-color: #223670;color: #edf1fe;"><a routerLink="industrial" style="text-decoration: none;color: #edf1fe;">Industrial</a></td>
          <td style="background-color: #223670;color: #edf1fe;">Data Engineering</td>
          
        </tr>
        <tr>
          <td style="background-color: #223670;color: #edf1fe;">Careers</td>
          <td style="background-color: #223670;color: #edf1fe;"><a routerLink="banking" style="text-decoration: none;color: #edf1fe;">Banking & Financial services</a></td>
          <td style="background-color: #223670;color: #edf1fe;">DevOps</td>
          <td style="background-color: #223670;color: #edf1fe;">
            <div class="button">
              <a class="btn btn-outline-warning" routerLink="contact" role="button">Contact Us</a>
            </div>
          </td>
        </tr>
        <tr>
          <td style="background-color: #223670;color: #edf1fe;">Contact Us</td>
          <td style="background-color: #223670;color: #edf1fe;"><a routerLink="insurance" style="text-decoration: none;color: #edf1fe;">Insurance</a></td>
          <td style="background-color: #223670;color: #edf1fe;">GIS</td>
        </tr>
        <tr>
          <td style="background-color: #223670;color: #edf1fe;">Blogs</td>
          <td style="background-color: #223670;color: #edf1fe;"><a routerLink="healthcare" style="text-decoration: none;color: #edf1fe;">Healthcare</a></td>
          
        </tr>
        <tr>
          <td style="background-color: #223670;color: #edf1fe;">Whitepapers</td>
          <td style="background-color: #223670;color: #edf1fe;"><a routerLink="locomotive" style="text-decoration: none;color: #edf1fe;">Locomotive</a></td>
          
        </tr>
        <tr>
          <td style="background-color: #223670;color: #edf1fe;">Webinar</td>
          <td style="background-color: #223670;color: #edf1fe;"><a routerLink="industrial" style="text-decoration: none;color: #edf1fe;">Industrial</a></td>
          
        </tr>
        <tr>
          <td style="background-color: #223670;color: #edf1fe;">Podcast</td>
          <td style="background-color: #223670;"></td>
          <td style="background-color: #223670;"></td>
          <td style="background-color: #223670;color: #edf1fe;">
            +91-484-4203333
          </td>
        </tr>
        <tr>
          <td style="background-color: #223670;color: #edf1fe;"></td> 
        </tr>
      </tbody>

    </table>
    
  </div>
</footer>