.footer{  
     left: 0;
    bottom: 0;
    width: 100%;
    background-color: #223670; /* Change this to your desired color */
    height: 28em;
    padding: 0;
}
td,th{
    background-color: #223670;
}
td{
    color: #edf1fe;
}