<h1 class="temp">Banking and Financial Services</h1>
<img src="https://i.postimg.cc/rFhpcxqX/Rectangle-20-2.jpg" class="img-fluid" alt="...">
<p>The Banking and Financial Services (BFS) Group at NeST Digital has established itself with over two decades of experience as a pioneer and leader in the GCC market by providing payment platform solutions – advanced payment solutions based on scalable microarchitecture & technology implemented to over 30 leading financial institutions is a testimony to its established credentials. 
</p>
<div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zEoMCt_KEHM?si=ttA01OQY9X_9_jp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>