<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="padding: 10px 50px;">
            <img src="../../../assets/nest4.png" alt="NeST" width="250">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 17px; padding: 10px 30px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="" style="color: #213670;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="about" style="color: #213670;">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="department" style="color: #213670;">Department</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="services" style="color: #213670;">Services</a>
          </li>
        </ul> 
        <div style="padding: 0 60px;">
            <button type="button" class="btn btn-outline-primary"><a class="nav-link active" aria-current="page" routerLink="contact">Contact Us</a></button>
        </div>
      </div>
    </div>
</nav>
