<div class="footprint">
    <h5><b>Global Footprint</b></h5>
    <div class="row">
      <div class="col">
          <h6>USA</h6>     
      </div>
      <div class="col">
        <h6>INDIA</h6>
      </div>
      <div class="col">
        <h6>UAE</h6>
      </div>
      <div class="col">
        <h6>JAPAN</h6>
      </div>
      <div class="col">
        <h6>LONDON</h6>
      </div>
    </div>
</div>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d5833.01733188599!2d-88.115941!3d43.030728!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDPCsDAxJzUwLjYiTiA4OMKwMDYnNDguMSJX!5e0!3m2!1sen!2sin!4v1722098229231!5m2!1sen!2sin" width="1200" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        
</div>