<div class="accordion" id="accordionPanelsStayOpenExample" style="width: 80%; margin: auto; padding: 20px 0;" >
    <div class="accordion-item" >
      <h2 class="accordion-header">
        <button style="color: #1f96f0;" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          <b>Mission</b>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <div class="container text-center">
            <div class="row">
              <div class="col" style="font-size: 18px; margin: auto; text-align: left;">
                Be the global leader in providing end-to-end solutions in engineering and manufacturing for both hardware and software products in the high value added markets, satisfy our customers with innovative technology and superior quality, value and service.
              </div>
              <div class="col" >
                <img src="../../../assets/Rectangle-100 (1).jpg" class="img-fluid" alt="Image not loading" style="width: 500px;" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button style="color: #1f96f0;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          <b>Vision</b>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div class="container text-center">
            <div class="row">
              <div class="col" style="font-size: 18px; margin: auto;text-align: left;">
                Be the global leader in providing end-to-end solutions in engineering and manufacturing for both hardware and software products in the high value added markets, satisfy our customers with innovative technology and superior quality, value and service.
              </div>
              <div class="col" >
                <img src="../../../assets/Rectangle-297.jpg" class="img-fluid" alt="Image not loading" style="width: 500px;" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button style="color: #1f96f0;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          <b>Who We Are</b>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div class="container text-center">
            <div class="row">
              <div class="col" style="font-size: 18px; margin: auto;text-align: left;">
                Engineering Transformation. NeST Digital is the software arm of the globally trusted NeST Group of companies. We combine our Specialized Manufacturing Services, Engineering Design and Software Services under one roof to provide transformative turnkey solutions to customers.
              </div>
              <div class="col" >
                <img src="../../../assets/Rectangle-298.jpg" class="img-fluid" alt="Image not loading" style="width: 500px;" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button style="color: #1f96f0;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
          <b>What We Belive In</b>
        </button>
      </h2>
      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
        <div class="accordion-body">
          <div class="container text-center">
            <div class="row">
              <div class="col" style="font-size: 18px; margin: auto;text-align: left;">
                Our core values make us who we are today. Our purpose and principles have shaped us into who we are today and they enable us to strive for greater heights. Every decision we make is closely aligned with our principles. These help us raise our bar, dive deep into challenges to achieve game-changing outcomes.
              </div>
              <div class="col" >
                <img src="../../../assets/Rectangle-299.jpg" class="img-fluid" alt="Image not loading" style="width: 500px;" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
