.img-fluid{
    width: 50%;
    float: right;
    margin-left: 20px;
  }
  p{
    padding: 139px 30px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #edf1fe;
    color: #31437b;
  }