<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="width: 80%; margin: auto;padding-bottom: 20px;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.postimg.cc/KvbT4PX1/banner-image3-b3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/5tJ9S33z/banner-image3-2-copy.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/k4x4dHgf/Banner-home-banner-v3-copy.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
