<h1 class="temp">Mobility</h1>
<img src="https://i.postimg.cc/bvnYQ5kp/Rectangle-20.jpg" class="img-fluid" alt="...">
<p>Providing better solutions for overcoming the challenges of the technology curve, competition and increasing customer expectations.
    Capitalizing on the prowess of electronics to upgrade various systems used in vehicles to communicate, monitor, control, navigate and entertain.
</p>
<div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_5zlG28Jqms?si=HUQloeSg5TH7UnTr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>