<div class="container text-center" style="padding: 20px 20px;width: 75%;margin: auto;">
    <div class="row">
      <div class="col" style="width: 100%; margin: auto;padding: 20px 20px; text-align: left;">
        <h2 style="font-size: 25px;color:#213670;">Write to us</h2>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Request for Proposal
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Media Enquiries
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Partnership Opportunities
            </label>
        </div>
        <div class="form-check" style="padding-bottom: 20px;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
                Issue Escalation
            </label>
        </div>
            <div class="row">
                <div class="col">
                <input type="text" class="form-control" placeholder="Name" aria-label="Name">
                </div>
                <div class="col">
                <input type="text" class="form-control" placeholder="Company name" aria-label="Company name">
                </div>
            </div>
            <div class="row">
                <div class="col">
                <input type="text" class="form-control" placeholder="Designation" aria-label="Designation">
                </div>
                <div class="col">
                <input type="text" class="form-control" placeholder="Phone number" aria-label="Phone number">
                </div>
            </div>
            <div class="row">
                <div class="col">
                <input type="text" class="form-control" placeholder="Email" aria-label="Email">
                </div>
                <div class="col">
                <input type="text" class="form-control" placeholder="Country" aria-label="Country">
                </div>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Subject" aria-label="Subject">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message" aria-label="Message"></textarea>
              </div>
            <div style="padding: 6px 10px;">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
              
      </div>
      <div class="col">
        <img src="https://i.postimg.cc/RCXfY36y/Rectangle-125.jpg" class="img-fluid" alt="..." style="width: 100%;">
      </div>
    </div>
  </div>
<div >
    
</div>